<div id="content">
	
	<div id="page_left">
		
		<div class="left_block">
			<div class="block_header">
				<h3>Admin CP</h3>
			</div>
			<div class="block_content">
			
			</div>
		</div>
	</div>
</div>