<div class="right_block">
			<div class="block_header">
				<h3>Affiliates</h3>
			</div>
			<iframe src="http://www.gamemakerblog.com/gma/gatob.php?rows=6&cols=1&userid=246" marginwidth="0" marginheight="0" style="hspace:0;vspace:0" frameborder="0" height="186" scrolling="no" width="88"></iframe>
</div>