<div id="content">

<div class="left_block">
	<div class="block_header">
		<h3>Welcome</h3>
	</div>
	<div class="block_content">
		<p>Welcome to gmbed.com the home of embedded game maker games. All games on this site are free to play. Currently the games only work on windows os. You can also upload your games to the site so they will be embedded. This site is still in beta.</p>
	</div>
</div>

<div id="page_left">

<div class="left_block">
<div class="block_header">
<h3>Popular Games</h3>
</div>


<div id="popular_games" class="game_list" style="min-height: 150px;">
<ol>
<%= render :partial => "game_list", :locals => { :games_list => @games } %>

</ol>
</div>
</div>


<div class="left_block">
<div class="block_header">
<h3>Recent Games</h3>
</div>


<div id="recent_games" class="game_list" style="min-height: 150px;">
<ol>
<!-- Ruby to load most popular -->
<%= render :partial => "game_list", :locals => { :games_list => @recent_games } %>

</ol>
</div>
</div>



</div>

<div id="page_right">

<div class="right_block">
<div class="block_header">
<h3>Random Game</h3>
</div>

<div id="random_games" class="game_list" style="min-height: 150px;">
<ol>
<%= render :partial => "game_list", :locals => { :games_list => @random_games } %>
</ol>
</div>
</div>



<%= render :partial => "shared/affiliates" %>

</div> <!-- end page right -->

</div>
