<div id="content">
	
	<div id="page_left">
		
		<div class="left_block">
			<div class="block_header">
				<h3>Editing <%= @game.name %></h3>
			</div>
			
			
			<div class="block_content">

				<%= render 'form' %>
				
				<%= link_to 'Show', @game %> |
				<%= link_to 'Back', games_path %>
			</div>
		</div>
	</div>
</div>
