
body {
	background:url("../images/bg.png");
    background-repeat: repeat;
    background-color:#1E212A;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: white;
}


a img {border: none; } 

td.header_left {
background:url("../images/left_corner.gif");
width:25px;
height:26px;
}

td.header_right {
background:url("../images/right_corner.gif");
width:16px;
height:26px;
}

td.header {
background:url("../images/header.gif");
height:26px;
font-weight: bold;
}

td.side_left {
background:url("../images/play_left_border.gif");
width:25px;
}

td.side_right {
background:url("../images/play_right_border.gif");
width:16px;
}

td.content {
background-color:#1E212A;
font-size: 110%;
}

td.bottom_left {
background:url("../images/play_bottom_left.gif");
width:25px;
height:10px
}

td.bottom_right {
background:url("../images/play_bottom_right.gif");
height:10px;
}

td.bottom {
background:url("../images/play_bottom.gif");
height:10px;
}

a {text-decoration: none;
color: #ffffff;
font-weight: 900;
}

A:hover {text-decoration: underline;}

#content{
	width:900px;
	padding:0;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

#header {	
    padding:0;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	width:900px;
}

#logo{
	width:180px;
	background:url(../images/logobg.png) repeat-y;
	position:fixed;
	top:0;
	bottom:0;
	float:left;
	padding:0;
	margin:0;
}

.game_list ol li {
	padding: 0 5px 10px 0;
	width: 100px;
	height: 100px;
	overflow: hidden;
	float: left;
	position: relative;
	list-style-type: none;
}

.game_list, .block_content {
		display: table-cell;
		vertical-align:middle; 
         }

.game_index ul li {
	width:100%;
	height:100px;
	list-style-type: none;
	padding:0; margin:0;
	
}

.left_block, .right_block {
    border:1px solid #a1a1a1;
	border-radius:10px;
	margin-top: 10px;
	margin-bottom: 25px;
	padding: 0px;
	
}

.left_block {
	/*float: left;*/
	width:100%;
	height:auto;
}
.right_block {
	/*float: right;*/
	width:100%;
	height:auto;
}

.block_header {
    position: relative;
    top: -15px;
	margin-bottom: 10px;
	margin-top: 0px;
	padding-left:10px;
	height:20px;
	
	border-radius:10px;
	
	background-image: linear-gradient(bottom, rgb(240,240,240) 0%, rgb(165,168,168) 50%);
background-image: -o-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(165,168,168) 50%);
background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(165,168,168) 50%);
background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(165,168,168) 50%);
background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(165,168,168) 50%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(240,240,240)),
	color-stop(0.5, rgb(165,168,168))
);
}

.block_content {
	padding-left: 10px;
	padding-bottom: 10px;
	}

#page_left {float:left; width:700px; height:200px;}
#page_right {float:right; width:150px; height:200px;}